*{
	font-family: Noto Sans KR, sans-serif;
}
*:focus{
	outline: none;
}
/* 작성창 헤더 */
.notice_write_header{ width:100%; height:70px;}

/* 목록으로 가기 */
.write_close_button{
	background:none;
	border:0px;
	margin:15px;
	float:left;
}

/* 뒤로가기 글씨 */
.write_close{	
	font-size: 24px;
    font-weight: bolder;
    color: #007bff;
    cursor: pointer;
}

/*헤더 글씨*/
.writeview_title {
	min-height: 40px;
    margin: 10px 13px 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 1px;
}

/* 공지작성 버튼 */
.notice_save_button  {
	margin-right: 30px;
    float: right;
    font-weight: normal;
    padding: 0px 5px 10px;
    background: none;
    font-size: 20px;
    color: #007bff;
    border: 0;
    cursor: pointer;
}

/* 작성창1 */
.board_write_area { margin: 20px 15px 0px;  }

.input_title {
    border: 0px;
    font-size: 20px;
}

.prev_btn {
    padding: 0px;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
    background-size: 15px;
    background-color: transparent;
    font-size: 20px;
    flex: 1 50%;
    text-align: left;
}

.user_name, .user_current_pw, .user_pw {
	padding: 20px 0;
	font-weight: 700;
	font-size: 20px;
	
}

.error_msg{
	color: #f50000;
	font-weight: 500;
	font-size: 16px;
}

.hidden{
	display: none;
}

